<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>Saisie d'un nouveau cours</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ionicForm" (ngSubmit)="onSubmit()" novalidate>
    <ion-item>
      <ion-label position="floating">Nom du cours :</ion-label>
      <ion-input formControlName="nom" required="true" type="text" placeholder="Mathématique"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre d'étudiants :</ion-label>
      <ion-input formControlName="nbEleves" required="true" type="number" placeholder="5" min="0"></ion-input>
    </ion-item>
    <ion-item>
      <ion-list>
        <ion-item>
          <ion-select interface="popover" placeholder="Select professeur" formControlName="professeurId" required="true" type="number">
            <ion-select-option *ngFor="let prefesseur of professeurs; index as position" value="{{prefesseur.id}}">{{prefesseur.nom}} {{prefesseur.prenom}} </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-item>
    <ion-item>
      <ion-button type="submit">Validez</ion-button>
    </ion-item>
  </form>
</ion-content>
