<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Professeurs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>

  <ion-button routerLink="saisie-professeurs">Ajouter un Professeur</ion-button>
  <ion-button routerLink="recherche-professeurs">Recherche un Professeur</ion-button>

  <ion-row>
    <ion-col><strong>Nom de professeur</strong><ion-icon name="caret-down-outline" *ngIf="!triNom" (click)="triColonneNom()"></ion-icon><ion-icon *ngIf="triNom" (click)="triColonneNom()" name="chevron-down-outline"></ion-icon></ion-col>
    <ion-col><strong>Prenom de professeur</strong></ion-col><ion-icon name="caret-down-outline" *ngIf="!triPrenom" (click)="triColonnePrenom()"></ion-icon><ion-icon *ngIf="triPrenom" (click)="triColonnePrenom()"name="chevron-down-outline"></ion-icon>
    <ion-col><strong>Avatar de professeur</strong></ion-col>
    <ion-col><strong>Age de professeur</strong></ion-col><ion-icon name="caret-down-outline" *ngIf="!triAge" (click)="triColonneAge()"></ion-icon><ion-icon (click)="triColonneAge()" *ngIf="triAge" name="chevron-down-outline"></ion-icon>
    <ion-col><strong>Supprimer</strong></ion-col>
  </ion-row>

  <ion-row *ngFor="let professeur of professeurs; index as position">
    <ion-col>{{professeur.nom}}</ion-col>
    <ion-col>{{professeur.prenom}}</ion-col>
    <ion-col>{{professeur.urlPhoto}}</ion-col>
    <ion-col>{{professeur.age}}</ion-col>
    <ion-col>
      <ion-button color="danger" (click)="openAlert(professeur)"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
