<ion-header>
  <ion-toolbar>
    <ion-title>saisie-professeurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ionicForm" (ngSubmit)="onSubmit()" novalidate>
    <ion-item>
      <ion-label position="floating">Nom du professeur :</ion-label>
      <ion-input formControlName="nom" required="true" type="text" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Prenom de professeur :</ion-label>
      <ion-input formControlName="prenom" required="true" type="text" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">avatar de professeur :</ion-label>
      <ion-input formControlName="urlPhoto" required="true" type="text" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">age de professeur :</ion-label>
      <ion-input formControlName="age" required="true" type="number" placeholder="0"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button type="submit">Validez</ion-button>
    </ion-item>
  </form>
</ion-content>
